<img
  class="absolute w-24 h-24 -top-1 -left-1 rotate-90"
  src="assets/images/corner-white.png"
  alt="top left corner asset"
/>
<img
  class="absolute w-24 h-24 -bottom-1 -right-1 -rotate-90"
  src="assets/images/corner-white.png"
  alt="top left corner asset"
/>
<div class="flex items-center justify-center w-full h-full">
  <div
    class="card relative container mx-4 sm:mx-0 max-w-xs md:max-w-sm lg:max-w-md flex flex-col"
  >
    <div
      class="z-10 relative flex px-2 py-1 {{cardHeaderClass}} rounded-t-lg border-black border-2"
    >
      <i class="mr-2 fas fa-times"></i>
      <i class="mr-2 fas fa-copy"></i>
      <i class="mr-2 fas fa-minus"></i>
    </div>
    <div class="z-10 relative flex-1 bg-white p-4 border-black border-x-2 border-b-2 rounded-b-lg">
      <div class="text-7xl text-center">
        {{ title }}
      </div>
    </div>
    <img
      src="assets/images/star-purple.png"
      alt="purple star"
      class="z-10 absolute w-20 h-20 left-0 right-0 -top-10 m-auto">
  </div>
</div>
