<div class="container relative w-full min-h-full m-auto p-4 flex flex-col items-center justify-center" *ngIf="!splashVisible else splash">
  <div class="text-3xl top-3 right-0 w-full text-center mb-5">
    Score: {{ score }}
  </div>

  <div class="flex flex-wrap gap-4 items-center justify-center">
    <div [ngClass]="wrongMatchDisplay && !card.isFlipped ? 'cursor-not-allowed' : 'cursor-pointer' " [class.flipped]="card.isFlipped" [class.matched]="card.isMatched"  (click)="cardClicked(card)" class="relative transition-all w-12 h-16 md:w-24 md:h-32 card" *ngFor="let card of cards">
      <div class="front scale absolute flex items-center justify-center hover:shadow-lg w-12 h-16 md:w-24 md:h-32 bg-purple shadow-sm border border-black">
        <div class="card-inner text-xl md:text-4xl">
          {{ card.value }}
        </div>
      </div>
      <div class="back absolute flex items-center justify-center hover:shadow-lg w-12 h-16 md:w-24 md:h-32 bg-purple shadow-sm border border-black">

      </div>
    </div>
  </div>
</div>

<ng-template #splash>
  <mg-round-splash-screen [title]="roundSplashTitle"></mg-round-splash-screen>
</ng-template>
