<div [class.hidden]="!showModal" class="fixed z-50 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <!--
      Background overlay, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <!--
      Modal panel, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100 translate-y-0 sm:scale-100"
        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    -->
    <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-sm sm:w-full">
      <div class="z-10 relative flex justify-between px-2 py-1 bg-black rounded-t-lg border-black border-2">
        <div class="text-lg leading-6 font-medium text-white">Create or Join Game</div>
        <div class="cursor-pointer hover:opacity-80 text-white " (click)="closeModal.emit()">Close</div>

      </div>
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4 flex justify-center items-center">
        <div class="flex items-center">
          <div *ngIf="!(gameUrl); else gameUrlView" class="mt-3 text-center sm:mt-0 sm:ml-4">
            <div class="flex items-center">
              <input id="gameUrl" placeholder="Enter game ID here" #urlInput class="focus:ring-indigo-500 focus:border-indigo-500 ring-1 ring-pink h-full py-0 pl-2 pr-7 border-transparent bg-transparent text-gray-500 sm:text-sm rounded-md shadow-sm"/>
              <div class="btn btn-sm ml-3" (click)="joinExistingGame(urlInput.value);">
                Go
              </div>
            </div>
            <div>
              OR
            </div>
            <div class="btn" (click)="createNewGame.emit()">
              Create a new game
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #gameUrlView>
  <div class="mt-3 text-center sm:mt-0 sm:ml-4">
    <div class="text-2xl mb-2">
      Join the game
    </div>
    <a class="text-purple hover:text-pink font-semibold text-lg break-all" href="{{gameUrl}}">{{gameUrl}}</a>
    <div>
      OR
    </div>
    <div>
      Share game Id with your friends
    </div>
    <span (click)="copyGameId()" class="text-purple hover:text-pink font-semibold text-lg break-all cursor-pointer">{{gameId}}</span>
  </div>
</ng-template>
