@import '../../styles/mixins';
:host {
  display: block;
  width: 100%;
  height: 100%;
  @include backgroundTiles(#8E9EF6, rgb(147,164,255));
  .welcome {
    width: 100%;
    height: 100%;
  }
}
